/* Animation */
@keyframes highAnimation {
    0% { background-color: #d8211a; }
    35% { background-color: #8e0000; }
    65% { background-color: #d8211a; }
    85% { background-color: #e56059; }
    100% { background-color: #ec847e; }
}
.high.animate {
    animation: highAnimation 3000ms 1;
}
@keyframes lowAnimation {
    0% { background-color: #22e749; }
    35% { background-color: #008200; }
    65% { background-color: #00d100; }
    85% { background-color: #22e749; }
    100% { background-color: #7fe898; }
}
.low.animate {
    animation: lowAnimation 3100ms 1;
}
.off.animate {
    background-color: #cbcfcf;
}
@keyframes warnAnimation {
    0% { background-color: #f9e66a; }
    35% { background-color: #ccb100; }
    65% { background-color: #f0d100; }
    85% { background-color: #f9e66a; }
    100% { background-color: #fff089; }
}
.warn.animate {
    animation: warnAnimation 3000ms 1;
}

/* Colors */
.low {
    background-color: #7fe898;
}
.high {
    background-color: #ec847e;
}
.off {
    background-color: #cbcfcf;
}
.warn {
    background-color: #fff089;
}

.alert-value {
    margin: 5px;
    min-height: 100px;
    min-width: 180px;
    max-width: 180px;
    padding: 5px;
    position: relative;
}
.alert-value-group {
    bottom: 0;
    position: absolute;
    width: 100%;
}
.alert-value-group .title {
    font-size: 20px;
    padding: 5px;
    margin-bottom: 1px;
}
.alert-value-group .value {
    font-size: 50px;
    font-weight: 400;
    padding: 5px;
}
